# Data Type

#### Data Type represnt the type of data present inside a variable.In python we are not required to specify the type explicitly.Based on value provided, the type will be assigned automatically.hence python is dynamically Typed Language.
### Python contains following inbuilt data types
1.int
2.float
3.string
4.boolean
5.complex
6.bytes
7.bytearray
8.range
9.list
10.tuple
11.set
12.frozenset
13.dict
14.None

In [1]:
a=10
type(a)

int

In [2]:
b=0.5
type(b)

float

In [3]:
c='Mahi'
type(c)

str

In [4]:
d=True
type(d)

bool

In [5]:
e=range(5)
type(e)

range

In [6]:
f=['mahi','ravi','jitu','viju']
f
type(f)

list

## Slicing of strings
slice means piece.
[] operator is called slice operator,which can be used to retrueve parts of string.the index can be +ve or -ve.
+ve index left to right.
-ve index right to left.

In [13]:
s= "Mahendra"

In [14]:
s[0]

'M'

In [9]:
s[1]

'a'

In [10]:
s[-1]

'a'

In [11]:
s[-2]

'r'

In [12]:
s[15]

IndexError: string index out of range

In [15]:
s[1:4]

'ahe'

In [16]:
s[1:]

'ahendra'

In [17]:
s[:4]

'Mahe'

In [18]:
s

'Mahendra'

In [19]:
s[:5]

'Mahen'

In [20]:
s[:]

'Mahendra'

In [21]:
len(s)

8

# Type Casting
we can convert one type value to another type.this conversion is called Type casting or Type Coersion.
1.int()
2.float()
3.complex()
4.bool()
5.str()

# 1.int()
we can use this function to convert values from other type to int.

In [22]:
int(25.56)

25

In [23]:
int(10+5j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [24]:
int(True)

1

In [25]:
int(False)

0

In [26]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [27]:
int('10')

10

In [28]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

## Fundamental Data Type vs Immutability:

### All fundamental Datatyps are immutable.i.e once we creates an object,we cannot perform any changes in that object.if we trying to change then with those changes a new object will be created.This non-changeable behaviour is called immutability.

### List Data Type :
if we want to represent a group of values as a single entity where insertion order required to preserve and duplicates are allowed then we should go for list data type.

In [29]:
list=[10,10.5,'mahi',True,5]
list

[10, 10.5, 'mahi', True, 5]

In [30]:
for i in list:
    print(i)

10
10.5
mahi
True
5

## .append()

In [32]:
list.append('jitu')

.append() use to add value at last place.

In [33]:
list

[10, 10.5, 'mahi', True, 5, 'jitu', 'jitu']

## .remove()

 .remove() use to eliminate value by value from list.

In [34]:
list.remove(10.5)

In [35]:
list

[10, 'mahi', True, 5, 'jitu', 'jitu']

## .pop()

In [36]:
list

[10, 'mahi', True, 5, 'jitu', 'jitu']

In [38]:
list.pop(4)

'jitu'

In [39]:
list

[10, 'mahi', True, 'jitu']

## tuple data type :
tuple data type is exactly same as list data type except that is immutable.i.e we cannot change values.
tuple elements can be represented within parenthesis.

In [40]:
t=(10,20,30,40)
type(t)

tuple

In [41]:
t(0)=100

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1108890622.py, line 1)

In [42]:
t.append('mahi')

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
t.remove(10)

AttributeError: 'tuple' object has no attribute 'remove'

## range data type
range data type represents a sequence of numbers.
the elements present in range data type are not modificable.i.e range data type is immutable.

In [44]:
range(10)

range(0, 10)

In [45]:
r = range(10)

for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
a=range(10,20)
a

range(10, 20)

In [47]:
a=range(10,20)
for i in a:
    print(i)

10
11
12
13
14
15
16
17
18
19

In [48]:
b=range(10,20,2)

for i in b:
    print(i)

10
12
14
16
18

## set data type
if we want to represent a group of values without duplicates where order is not important then we should go for set data type.
we can add and remove function.

In [49]:
s={100,0,10,200,10,'mahi'}
s

{0, 10, 100, 200, 'mahi'}

In [50]:
type(s)

set

## Frozenset Data type
it is exactly same as set except that is it is immutable.
Hence we cannot use add or remove function.

## Dict Data type
if we want to represent a group of values as key-value pairs then we should go for dict data type.

In [51]:
d={101:'durga',102:'ravi',103:'shiva'}
d

{101: 'durga', 102: 'ravi', 103: 'shiva'}

#### Duplicate keys are not allowed but values can be duplicated.if we are trying to insert an entry with duplicate key then old value will be replace with new value.

In [52]:
d={101:'durga',102:'ravi',103:'shiva'}
d

{101: 'durga', 102: 'ravi', 103: 'shiva'}

In [53]:
d[101]='sunny'
d

{101: 'sunny', 102: 'ravi', 103: 'shiva'}

#### we can create empty dictionary as follows
d={}

#### we can add key-value pairs as follows

In [54]:
d['a']='apple'
d['b']='banana'
print(d)
# Note:dict is mutable and the order wont be preserved.

{101: 'sunny', 102: 'ravi', 103: 'shiva', 'a': 'apple', 'b': 'banana'}

# Escape Characters

#### \n --> New line
     \t --> Horizontal Line
     \r --> Carriage Return
     \b --> Back space
     \f --> Form Feed
     \v --> Vertical Tab
     \' --> Single Quote
     \" --> Double Quote
     \\ --> Back Slash Symbol

##### Constant concept is not applicable in python.
But it is convention to use only uppercase character if we dont want to change value.
MAX_VALUE = 10
It is just convention but we can change the value.