In [1]:
print('Hello')
print('Hello')

Hello
Hello

In [ ]:
print('Hello')
print('Hello')

## Range Functions

In [2]:
range(0,6)

range(0, 6)

In [3]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [4]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
list(range(1,20,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## print Hello 20 Times

In [8]:
for i in range (20):
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [9]:
for i in range(20):
    print(f'{i}:Hello')

0:Hello
1:Hello
2:Hello
3:Hello
4:Hello
5:Hello
6:Hello
7:Hello
8:Hello
9:Hello
10:Hello
11:Hello
12:Hello
13:Hello
14:Hello
15:Hello
16:Hello
17:Hello
18:Hello
19:Hello

## Print All Elements In List

In [10]:
a = ['Mahendra','Ravindra','Jitendra','Vijay']
a

['Mahendra', 'Ravindra', 'Jitendra', 'Vijay']

In [11]:
type(a)

list

In [12]:
for i in a:
    print(i)

Mahendra
Ravindra
Jitendra
Vijay

In [13]:
for i in a:
    print(f'element value :{i} , element type : {type(i)}')

element value :Mahendra , element type : <class 'str'>
element value :Ravindra , element type : <class 'str'>
element value :Jitendra , element type : <class 'str'>
element value :Vijay , element type : <class 'str'>

## Example with Multiple Variables in for Loop

In [16]:
emp = [(101,'Mahendra'),(102,'Ravindra'),(103,'Jitendra'),(104,'Vijay')]

In [17]:
emp

[(101, 'Mahendra'), (102, 'Ravindra'), (103, 'Jitendra'), (104, 'Vijay')]

In [23]:
for i,j in emp:
    print(f'employee id: {i}. employee name : {j}')

employee id: 101. employee name : Mahendra
employee id: 102. employee name : Ravindra
employee id: 103. employee name : Jitendra
employee id: 104. employee name : Vijay

In [24]:
for ids,name in emp:
    print(f'employee id: {ids} . employee name : {name}')

employee id: 101 . employee name : Mahendra
employee id: 102 . employee name : Ravindra
employee id: 103 . employee name : Jitendra
employee id: 104 . employee name : Vijay

## Enumerate

In [27]:
names = ['Mahi','Ravi','Jitu','Viju']
names

['Mahi', 'Ravi', 'Jitu', 'Viju']

In [28]:
enumerate(names)

In [29]:
list(enumerate(names))

[(0, 'Mahi'), (1, 'Ravi'), (2, 'Jitu'), (3, 'Viju')]

In [31]:
for index,value in enumerate(names):
    print(f'element index : {index} , element value : {value}')

element index : 0 , element value : Mahi
element index : 1 , element value : Ravi
element index : 2 , element value : Jitu
element index : 3 , element value : Viju

In [32]:
len(names)

4

In [35]:
for i in range(len(names)):
    print(f'element index : {i}, element value : {names[i]}')

element index : 0, element value : Mahi
element index : 1, element value : Ravi
element index : 2, element value : Jitu
element index : 3, element value : Viju

## zip function
Combining 2 List

In [36]:
a = ['mahi','ravi','jitu','viju']
b = [1,2,3,4]

In [37]:
zip(a,b)

In [38]:
list(zip(a,b))

[('mahi', 1), ('ravi', 2), ('jitu', 3), ('viju', 4)]

In [39]:
list(zip(b,a))

[(1, 'mahi'), (2, 'ravi'), (3, 'jitu'), (4, 'viju')]

In [41]:
for name,score in zip(a,b):
    print(f'student name : {name}, student score : {score}')

student name : mahi, student score : 1
student name : ravi, student score : 2
student name : jitu, student score : 3
student name : viju, student score : 4

## Zip Function Example

$c^2 = a^2 + b^2$

In [43]:
a = 4
b = 5
h = (a**2 + b**2)**(1/2)

In [44]:
h

6.4031242374328485

In [46]:
8**(1/3)

2.0

In [1]:
A = [2,4,6,8,10]
A

[2, 4, 6, 8, 10]

# Assignment

### Print square from a list

In [4]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [5]:
for i in a:
    print(f'Number : {i} , square of Number : {i**2}')

Number : 1 , square of Number : 1
Number : 2 , square of Number : 4
Number : 3 , square of Number : 9
Number : 4 , square of Number : 16
Number : 5 , square of Number : 25

### Print sum of given Elements from List

In [8]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [11]:
# initialize sum with 0
s = 0
for i in a:
    print(f'current i value : {i} , previous sum value : {s}')
    s = s+i
    print(f'current i value : {i} , updated sum value : {s}')
    print(f'\n******************************************\n')

current i value : 1 , previous sum value : 0
current i value : 1 , updated sum value : 1

******************************************

current i value : 2 , previous sum value : 1
current i value : 2 , updated sum value : 3

******************************************

current i value : 3 , previous sum value : 3
current i value : 3 , updated sum value : 6

******************************************

current i value : 4 , previous sum value : 6
current i value : 4 , updated sum value : 10

******************************************

current i value : 5 , previous sum value : 10
current i value : 5 , updated sum value : 15

******************************************

In [12]:
print(s)

15

In [13]:
sum(a)

15

### Print sum of square of given elements in list

In [16]:
a

[1, 2, 3, 4, 5]

In [22]:
# initialize sum to 0
s = 0
for i in a:
    s = s + i**2
    # printing sum of squares
print(f'sum of square of element in list : {a} is {s}')

sum of square of element in list : [1, 2, 3, 4, 5] is 55

In [18]:
1**2+2**2+3**2+4**2+5**2

55

### Product of all element in list

In [23]:
# initialize product to 1
p = 1
for i in a:
    p = p*i
print(f'for given list {a} product is {p}')

for given list [1, 2, 3, 4, 5] product is 120

In [24]:
1*2*3*4*5

120

In [25]:
a

[1, 2, 3, 4, 5]

### List comprehension