# Looping in python

In [4]:
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [1]:
for i in range(10):
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## Range Function

In [5]:
range(7)

range(0, 7)

In [6]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [8]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Print Hello 20 Times

In [9]:
for i in range(10):
    print(f'Hi Hridaan')

Hi Hridaan
Hi Hridaan
Hi Hridaan
Hi Hridaan
Hi Hridaan
Hi Hridaan
Hi Hridaan
Hi Hridaan
Hi Hridaan
Hi Hridaan

In [10]:
list(range(21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
for a in range(10):
    print(f'{a}: Hi Hridaan')

0: Hi Hridaan
1: Hi Hridaan
2: Hi Hridaan
3: Hi Hridaan
4: Hi Hridaan
5: Hi Hridaan
6: Hi Hridaan
7: Hi Hridaan
8: Hi Hridaan
9: Hi Hridaan

## Print All Elements In List

In [12]:
a = ['mahi','ravi','jitu','viju']
a

['mahi', 'ravi', 'jitu', 'viju']

In [17]:
for name in a:
    print(name)

mahi
ravi
jitu
viju

In [22]:
for i in a:
    print(f'element value : {i} , element type : {type(i)}')

element value : mahi , element type : <class 'str'>
element value : ravi , element type : <class 'str'>
element value : jitu , element type : <class 'str'>
element value : viju , element type : <class 'str'>

## Example with Multiple variable in for loop

In [25]:
Bros = [(101,'mahi'),(102,'ravi'),(103,'jitu'),(104,'viju')]
Bros

[(101, 'mahi'), (102, 'ravi'), (103, 'jitu'), (104, 'viju')]

In [27]:
for x,y in Bros:
    print(f'Brothers id : {x}. Brothers Name : {y}')

Brothers id : 101. Brothers Name : mahi
Brothers id : 102. Brothers Name : ravi
Brothers id : 103. Brothers Name : jitu
Brothers id : 104. Brothers Name : viju

In [31]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
for x in range(11):
    print(f'Numbers : {x}. Squares : {x*x}')

Numbers : 0. Squares : 0
Numbers : 1. Squares : 1
Numbers : 2. Squares : 4
Numbers : 3. Squares : 9
Numbers : 4. Squares : 16
Numbers : 5. Squares : 25
Numbers : 6. Squares : 36
Numbers : 7. Squares : 49
Numbers : 8. Squares : 64
Numbers : 9. Squares : 81
Numbers : 10. Squares : 100

In [41]:
list(range(11))
for x in range(11):
    print(f'number : {x}. square : {x*x}')

number : 0. square : 0
number : 1. square : 1
number : 2. square : 4
number : 3. square : 9
number : 4. square : 16
number : 5. square : 25
number : 6. square : 36
number : 7. square : 49
number : 8. square : 64
number : 9. square : 81
number : 10. square : 100

## Enumerate

In [2]:
# Enumerate use for give Numbering to List

In [42]:
names = ['mahi','ravi','jitu','viju']
names

['mahi', 'ravi', 'jitu', 'viju']

In [43]:
enumerate(names)

In [46]:
list(enumerate(names))

[(0, 'mahi'), (1, 'ravi'), (2, 'jitu'), (3, 'viju')]

In [47]:
for index,value in enumerate(names):
    print(f'element index : {index}. element value : {value}')

element index : 0. element value : mahi
element index : 1. element value : ravi
element index : 2. element value : jitu
element index : 3. element value : viju

In [48]:
len(names)

4

In [55]:
names

['mahi', 'ravi', 'jitu', 'viju', 'hridaan', 'hridaan', 'hridaan', 'hridaan']

In [57]:
names.remove('hridaan')
names

['mahi', 'ravi', 'jitu', 'viju', 'hridaan', 'hridaan', 'hridaan']

In [59]:
names.pop(4)
names

['mahi', 'ravi', 'jitu', 'viju', 'hridaan', 'hridaan']

In [60]:
names.pop(4)
names

['mahi', 'ravi', 'jitu', 'viju', 'hridaan']

In [62]:
list(enumerate(names))

[(0, 'mahi'), (1, 'ravi'), (2, 'jitu'), (3, 'viju'), (4, 'hridaan')]

## Zip Functions

Combining two List

In [1]:
a = ['chiku', 'miku', 'tiku', 'piku']
b = [1,2,3,4]

In [2]:
a

['chiku', 'miku', 'tiku', 'piku']

In [3]:
b

[1, 2, 3, 4]

In [4]:
zip(a,b)

In [5]:
list(zip(a,b))

[('chiku', 1), ('miku', 2), ('tiku', 3), ('piku', 4)]

In [6]:
list(zip(b,a))

[(1, 'chiku'), (2, 'miku'), (3, 'tiku'), (4, 'piku')]

In [7]:
for name,score in zip(a,b):
    print(f'name : {name}. score : {score}')

name : chiku. score : 1
name : miku. score : 2
name : tiku. score : 3
name : piku. score : 4

## Zip Function Example

$C^2 = A^2 + B^2$

In [18]:
a = 3
b = 4
h = (a**2+b**2)**(1/2)
h

5.0

In [20]:
25**(1/2)

5.0

In [24]:
a = [5,6,7,8]
b = [6,7,8,9]
hyp = []
for i,j in zip(a,b):
    h = (i**2 + j**2)**(1/2)
    hyp.append(h)

In [27]:
hyp

[7.810249675906654, 9.219544457292887, 10.63014581273465, 12.041594578792296]

In [28]:
list(enumerate(a,1))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [29]:
b

[6, 7, 8, 9]

In [30]:
for No in b:
    print(f'Number : {No}. Square of number : {No**2}')

Number : 6. Square of number : 36
Number : 7. Square of number : 49
Number : 8. Square of number : 64
Number : 9. Square of number : 81

In [1]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


## List Comprehension

In [3]:
# find out square of first n numbers in a list

n = 100
d = [i**2 for i in range(1,n+1)]
print(d)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [6]:
name = 'Tony'
age = 51
print(f'The person {name} whose age is {age} was a genious.')

The person Tony whose age is 51 was a genious.

In [12]:
name = input('what is your name? : ')
print('Hello ' + name)

what is your name? : mahi
Hello mahi

In [2]:
old_age = int(input('Enter your old age :'))
new_age = (old_age + 5)
print(new_age)

Enter your old age :15
20

In [37]:
first = int(input('Enter your first number :'))
second = int(input('Enter your second number :'))
sum = first + second
print('The sum is :' + str(sum))

Enter your first number :5
Enter your second number :5
The sum is :10

In [13]:
first = int(input('Enter your first number :'))
second = int(input('Enter your second number :'))
sum = first + second
print(f'The sum is : {sum}')

Enter your first number :10
Enter your second number :10
The sum is : 20

In [44]:
first = int(input('Enter your first number :'))
second = int(input('Enter your second number :'))
sum = first + second
print('The sum is :' + str(sum))

Enter your first number :5
Enter your second number :5
The sum is :10

In [14]:
import pandas as pd

In [17]:
pd.set_option('display.max_columns',4)
pd.set_option('display.max_rows',100)

In [18]:
# find out squares of first N numbers

for x in range(101):
    print(f'Number : {x}. Square : {x*x}')
    print(f'\n*************************\n')

Number : 0. Square : 0

*************************

Number : 1. Square : 1

*************************

Number : 2. Square : 4

*************************

Number : 3. Square : 9

*************************

Number : 4. Square : 16

*************************

Number : 5. Square : 25

*************************

Number : 6. Square : 36

*************************

Number : 7. Square : 49

*************************

Number : 8. Square : 64

*************************

Number : 9. Square : 81

*************************

Number : 10. Square : 100

*************************

Number : 11. Square : 121

*************************

Number : 12. Square : 144

*************************

Number : 13. Square : 169

*************************

Number : 14. Square : 196

*************************

Number : 15. Square : 225

*************************

Number : 16. Square : 256

*************************

Number : 17. Square : 289

*************************

Number : 18. Square : 324

*************************

Number : 19. Square : 361

*************************

Number : 20. Square : 400

*************************

Number : 21. Square : 441

*************************

Number : 22. Square : 484

*************************

Number : 23. Square : 529

*************************

Number : 24. Square : 576

*************************

Number : 25. Square : 625

*************************

Number : 26. Square : 676

*************************

Number : 27. Square : 729

*************************

Number : 28. Square : 784

*************************

Number : 29. Square : 841

*************************

Number : 30. Square : 900

*************************

Number : 31. Square : 961

*************************

Number : 32. Square : 1024

*************************

Number : 33. Square : 1089

*************************

Number : 34. Square : 1156

*************************

Number : 35. Square : 1225

*************************

Number : 36. Square : 1296

*************************

Number : 37. Square : 1369

*************************

Number : 38. Square : 1444

*************************

Number : 39. Square : 1521

*************************

Number : 40. Square : 1600

*************************

Number : 41. Square : 1681

*************************

Number : 42. Square : 1764

*************************

Number : 43. Square : 1849

*************************

Number : 44. Square : 1936

*************************

Number : 45. Square : 2025

*************************

Number : 46. Square : 2116

*************************

Number : 47. Square : 2209

*************************

Number : 48. Square : 2304

*************************

Number : 49. Square : 2401

*************************

Number : 50. Square : 2500

*************************

Number : 51. Square : 2601

*************************

Number : 52. Square : 2704

*************************

Number : 53. Square : 2809

*************************

Number : 54. Square : 2916

*************************

Number : 55. Square : 3025

*************************

Number : 56. Square : 3136

*************************

Number : 57. Square : 3249

*************************

Number : 58. Square : 3364

*************************

Number : 59. Square : 3481

*************************

Number : 60. Square : 3600

*************************

Number : 61. Square : 3721

*************************

Number : 62. Square : 3844

*************************

Number : 63. Square : 3969

*************************

Number : 64. Square : 4096

*************************

Number : 65. Square : 4225

*************************

Number : 66. Square : 4356

*************************

Number : 67. Square : 4489

*************************

Number : 68. Square : 4624

*************************

Number : 69. Square : 4761

*************************

Number : 70. Square : 4900

*************************

Number : 71. Square : 5041

*************************

Number : 72. Square : 5184

*************************

Number : 73. Square : 5329

*************************

Number : 74. Square : 5476

*************************

Number : 75. Square : 5625

*************************

Number : 76. Square : 5776

*************************

Number : 77. Square : 5929

*************************

Number : 78. Square : 6084

*************************

Number : 79. Square : 6241

*************************

Number : 80. Square : 6400

*************************

Number : 81. Square : 6561

*************************

Number : 82. Square : 6724

*************************

Number : 83. Square : 6889

*************************

Number : 84. Square : 7056

*************************

Number : 85. Square : 7225

*************************

Number : 86. Square : 7396

*************************

Number : 87. Square : 7569

*************************

Number : 88. Square : 7744

*************************

Number : 89. Square : 7921

*************************

Number : 90. Square : 8100

*************************

Number : 91. Square : 8281

*************************

Number : 92. Square : 8464

*************************

Number : 93. Square : 8649

*************************

Number : 94. Square : 8836

*************************

Number : 95. Square : 9025

*************************

Number : 96. Square : 9216

*************************

Number : 97. Square : 9409

*************************

Number : 98. Square : 9604

*************************

Number : 99. Square : 9801

*************************

Number : 100. Square : 10000

*************************

In [20]:
x.shape

AttributeError: 'int' object has no attribute 'shape'

In [6]:
first = int(input("Please Enter Your First Number : "))
second = int(input("Please Enter Your Second Number :"))

sum = int(first + second)

print(sum)

Please Enter Your First Number : 5
Please Enter Your Second Number :5
10

In [23]:
age = int(input("Please Enter Your age : "))
if age>=18:
    print("The given age is eligible for vote")   
else:
      print("The given age is not eligible for vote")

Please Enter Your age : 17
The given age is not eligible for vote