## Functions in python

## User Defined function in python

In [1]:
def add(x,y):
    """
    Input : Two numbers as input
    Output : Addition of Two numbers
    
    """
    z = x+y
    return z

In [2]:
add(10,12)

22

In [3]:
add(4.8,5.9)

10.7

In [4]:
help(add)

Help on function add in module __main__:

add(x, y)
    Input : Two numbers as input
    Output : Addition of Two numbers

In [5]:
result=add(15,11)
result

26

### 2. Write a function in python to output cube of a given number.

In [6]:
8*8*8

512

In [7]:
9**3

729

In [8]:
def cube(n):
    """
    Input : Any Number
    Output : Cube of the given number
    """
    c = n**3
    print(f'Cube of given number {n:.4f} is {c:.4f}')
    return c

In [9]:
def cube(n):
    """
    To get cube of any number we have to give input then we get cube as a output.
    
    """
    c=n**3
    return c

In [14]:
help(cube)

Help on function cube in module __main__:

cube(n)
    To get cube of any number we have to give input then we get cube as a output.

In [10]:
cube(25)

15625

In [11]:
C = cube(10)
C

1000

In [12]:
help(cube)

Help on function cube in module __main__:

cube(n)
    To get cube of any number we have to give input then we get cube as a output.

In [13]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

## Arguments and kwArguments

In [18]:
def add_multiple(*args):
    """
    Input : Multiple numbers 
    Output : Addition
    
    """
    s = 0
    for i in args:
        s= s+i
    return s

In [19]:
add_multiple(7,7,7,7)

28

In [20]:
def average(*args):
    s=0
    for i in args:
        s=s+i
        avg=s/len(args)
    return avg

In [21]:
average(8,9,8,9,10)

8.8

## Kwargs : Dictionary

In [22]:
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f'{key} : {value}')

In [23]:
print_details(Name='Hridaan',Age='1',Salary='20000')

Name : Hridaan
Age : 1
Salary : 20000

## List of cube of given numbers

In [26]:
def cube_list(Lst):
    c=[]
    for i in Lst:
        c.append(i**3)
    return c

In [28]:
cube_list([1,2,3,4,5,6,7,8,9])

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [29]:
a=[10,11,12,13,14,15,16,17,18,19,20]
cube1=cube_list(a)

In [30]:
cube1

[1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [31]:
def cube_args(*nums):
    c=[]
    for i in nums:
        c.append(i**3)
        
    return c

In [34]:
cube_args(1,2,3,4)

[1, 8, 27, 64]

In [35]:
cu2 = cube_args(1,3,4,5,6,10,11.5)

In [36]:
cu2

[1, 27, 64, 125, 216, 1000, 1520.875]

## Products of all elements in list or args

In [41]:
def product(*args):
    p=1
    for i in args:
        p=p*i
    return p

In [42]:
product(4,5,7,8)

1120

In [43]:
product(10,10)

100

## Write a function in python to calculate hypotenuse of a right angled triangle.

$C^2 = A^2 + B^2$

In [50]:
def hypotenuse(a,b):
    """
    Input : 2 Perpendicular sides of right angled triangle
    Output : Hypotenuse
    
    """
    c = (a**2+b**2)**(1/2)
    return c

In [51]:
hypotenuse(4,5)

6.4031242374328485

In [52]:
side1 = [3,4,5,6]
side2 = [4,5,6,7]

In [53]:
for i, j in zip(side1, side2):
    print(f'Given Sides are {i} and {j}')
    print(f'Hypotenuse of given sides is {hypotenuse(i,j)}')
    print('\n==============================================\n')

Given Sides are 3 and 4
Hypotenuse of given sides is 5.0

==============================================

Given Sides are 4 and 5
Hypotenuse of given sides is 6.4031242374328485

==============================================

Given Sides are 5 and 6
Hypotenuse of given sides is 7.810249675906654

==============================================

Given Sides are 6 and 7
Hypotenuse of given sides is 9.219544457292887

==============================================

## Write a function in python which takes 3 sides and determines whether 3 sides form triangle or not .

### sum of 2 sides is > then third side

In [56]:
def isTriangle(a,b,c):
    if (a+b)>c and (b+c)>a and (c+a)>b:
        s= True
    else:
        s=False
        
    return s

In [57]:
isTriangle(1,2,3)

False

In [58]:
isTriangle(4,5,6)

True